.list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1024px;
  }
  
  .list__item {
    margin: 0 0.75% 50px;
    width: 23.5%;
  }
  
  .list__item figure {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
  }
  
  .list__item figure img {
    height: auto;
    width: 100%;
  }
  
  .list__item__id {
    color: #919191;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
  }
  
  .list__item__name {
    font-size: 24px;
    margin: 5px 0;
    text-transform: capitalize;
  }
  
  .list__item__details {
    margin-top: 5px;
  }
  
  .list__item__type {
    border-radius: 5px;
    color: #212121;
    display: inline-block;
    font-size: 14px;
    margin-right: 1.5%;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    width: 38.5%;
  }
  
  .bg-bug,
  .bg-dark,
  .bg-dragon,
  .bg-fighting,
  .bg-fire,
  .bg-ghost,
  .bg-poison,
  .bg-psychic,
  .bg-rock,
  .bg-water {
    color: #ffffff;
  }
  
  .bg-bug {
    background-color: #729f3f;
  }
  
  .bg-dark {
    background-color: #707070;
  }
  
  .bg-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
  }
  
  .bg-electric {
    background-color: #eed535;
  }
  
  .bg-fairy {
    background-color: #fdb9e9;
  }
  
  .bg-fighting {
    background-color: #d56723;
  }
  
  .bg-fire {
    background-color: #fd7d24;
  }
  
  .bg-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
  }
  
  .bg-ghost {
    background-color: #7b62a3;
  }
  
  .bg-grass {
    background-color: #9bcc50;
  }
  
  .bg-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
  }
  
  .bg-ice {
    background-color: #51c4e7;
  }
  
  .bg-normal {
    background-color: #a4acaf;
  }
  
  .bg-poison {
    background-color: #b97fc9;
  }
  
  .bg-psychic {
    background-color: #f366b9;
  }
  
  .bg-rock {
    background-color: #a38c21;
  }
  
  .bg-steel {
    background-color: #9eb7b8;
  }
  
  .bg-water {
    background-color: #4592c4;
  }